<link rel="import" href="/static/bower_components/polymer/polymer.html">

<polymer-element name="pioneer-leftmenu">
  <template>
    <style>
      @import url('/static/bower_components/bootstrap/dist/css/bootstrap.min.css');
      @import url('/static/pioneer/components/article/styles/article.css');
    </style>
    <div class="col-sm-2 paddingTop20">
      <nav class="nav-sidebar">
        <ul class="nav">
          <li class="active">
            <a href="javascript:;">
              <span class="glyphicon glyphicon-star"></span> News</a>
          </li>
          <li><a href="javascript:;">Latest news</a></li>
          <li><a href="javascript:;">Updates</a></li>
          <li><a href="javascript:;">Training</a></li>
          <li><a href="javascript:;">Nutrition</a></li>
          <li><a href="javascript:;">Proteins</a></li>
          <li><a href="javascript:;">Recipes</a></li>
          <li><a href="javascript:;">Challenge</a></li>
          <li class="nav-divider"></li>
          <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
        </ul>
      </nav>
      <div>
        <h2 class="add">Place for your add!</h2>
      </div>
    </div>
  </template>
  <script>
    Polymer({});
  </script>
</polymer-element>
